*{
    box-sizing: border-box;
    background-color: gray;
}

ul{
    list-style-type: none;
    padding: 0;
}

.left{
    position: absolute;
    left: 0;
    top: 0;
    border: 3px solid black;
    width: 20%;
    padding: 5px;
    margin: 10px;
}
.players{
    float: top;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    padding: 2px;
}
#chat{
    float: top;
    width: 100%;
    bottom: 0;
    left: 0;
    padding: 2px;
}

input[type="text"] {
    width: 10%;
    bottom: 0;
    padding: 2px;
    display: block;
}

#canvas {
    position: absolute;
    left: 0;
    top: 0;
    background-color: white;  
} 
.right{
    position: absolute;
    top: 0;
    right: 0;
    border: 3px solid black;
    width: 15%;
    height: auto;
    padding: 5px;
    margin: 10px;
}
.tools{
    position: absolute;
    width: 100%;
    top: 0;
}
.picture{
    position: absolute;
    width: 100%;
    bottom: 0;
}
.btn{
    width: 40px;
    height: 40px;
    background-color: aqua;

}
.btn2{
    width: 112px;
    height: 40px;
    background-color:pink;

}