*{
    box-sizing: border-box;
    background-color: gray;
}

ul{
    list-style-type: none;
    padding: 3px;
    border-radius: 12px;
    background:#fff;
}
li{
    background:#ccc;
    border-radius: 12px;
    border:1px solid #fff;
}

.left{
    position: absolute;
    left: 0;
    top: 0;
    border: 3px solid black;
    width: 20%;
    padding: 5px;
    margin: 10px;
    border-radius: 12px;

}
.players{
    float: top;
    width: 100%;
    height: 100%;
    padding: 5px;
    border-radius: 10px;
    font-size: 18px;

}
#chat{
    float: top;
    width: 100%;
    bottom: 0;
    left: 0;
    padding: 2px;
    align-items: flex-start;
    background: rgb(211, 211, 211);
}
.chatlogs{
    padding: 5px;
    width: 100%;
    height: 450px;
    background: rgb(211, 211, 211);
    margin-top: 10px;
    overflow-x: hidden;
    overflow-y:scroll;
}
#chat .chat-message{
    width: 80%;
    padding: 5px;
    margin: 5px 10px 0;
    border-radius: 10px;
    font-size: 14px;
    background:rgb(194, 194, 194);
}
.text{
    background: rgb(194, 194, 194);
    padding-top: 0px;
    font-size: 14px;
    border-radius: 10px;
}
#canvas {
    position: absolute;
    left: 0;
    top: 0;
    background-color: white;  
} 
.right{
    position: absolute;
    top: 0;
    right: 0;
    border: 3px solid black;
    width: 15%;
    height: auto;
    padding: 5px;
    margin: 10px;
    border-radius: 12px;
    background: gray;
}
.bottomright{
    position: absolute ;
    top: 55%;
    right: 0;
    border: 3px solid black;
    width: 25%;
    height: 44%;
    padding: 5px;
    margin: 10px;
    border-radius: 12px;
    background: gray;
}
.tools{
    position: absolute;
    width: 100%;
    top: 0;
}
.picture{
    position: absolute;
    width: 100%;
    bottom: 0;
}
.btn{
    width: 40px;
    height: 40px;
    border-radius: 50%;
}
.btn2{
    width: 112px;
    height: 40px;
    background-color: #ccc;
    border: 3px solid black;
    padding: 5px;
    margin: 3px;
    border-radius: 12px;
}
.btn3{
    width: 70px;
    height: 28px;
    background-color:rgb(194, 194, 194);
    padding-top: 0px;
    margin: 3px;
    border-radius: 12px;
}
.btn2:hover{
    background: #fff;
}
.btn3:hover{
    background: #fff;
}
.btn4{
    width: 100px;
    height: 100px;
    background-color:rgb(194, 194, 194);
    padding-top: 0px;
    margin: 3px;
    border-radius: 12px;
}
.champion_image{
    width:600px;
    height:445px;
    padding-right: 5px;
    border-radius: 12px;
    
}


